
.container-fluid .row .col{
  color: white;
  height: 1000px;
  
    }
    /* card with pic of myself */
    .card{
margin-top: 200px;
z-index: 900;
margin-left: 150px;
border: 15px  rgb(240, 78, 105) solid;
box-shadow: 2px 2px 20px rgb(240, 78, 105) ;
    }
h5{
 font-weight: 700;
}
p{
  font-weight: 700;
}
h1{
color:  rgb(240, 78, 105);
  font-weight: 900;
  text-align: center;
}
h2{
font-weight: 800;
  text-align:center;
font-family: 'Fira Sans', sans-serif;
font-size: 30px;

}
.Work-Experience h2{
font-family: 'Fira Sans', sans-serif;
text-align: center;


}
h3{
font-weight: 600;
  font-family: 'Fira Sans', sans-serif;;
}

.btn{
  margin-top: 30px;
color:  black;
  background-color:rgb(240, 78, 105); 
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;

}
footer{
  border-top: 2px solid white;
  margin-top: 100px;
  
  }
  
  footer img
  {
  justify-content: center;
  
  }
  .copy-right{
  text-align: center;
    color: white;
  }

  .move{
    margin-right: 10%;
  }