

  /* contact form styling */
  .form-containe{
    display: flex;
    /* width: 500px;
    height: 600px; */
    align-items: center;
    position: relative;
   float:right;
    justify-content: space-between;
    border-radius: 2px  solid white;
    margin-right: 600px;
 
}


h2{
text-align: center;
    font-family: 'Fira Sans', sans-serif;
color:  rgb(240, 78, 105);;
font-weight: 900;

}

.form-control{
width: 200%;
}
#exampleFormControlInput1{
  width: 500px;
}
.form-contact{
  margin-left: 35%;
}

#exampleFormControlTextarea1{
  width: 500px ;
}

.submit{
  margin-top: 80px;
  background-color:  rgb(240, 78, 105);
  font-size: larger;
  font-weight: 900;
  width: 40%;
  height: 40px;
  color: black;
  
}
img{
margin-bottom: 30px;
}

.submit:hover{
box-shadow: 2px  rgb(240, 78, 105);

}
