 img{

    margin-top: 100px;
    margin-right: 400px;
}
body{

    background-color: black;
}

.form-containe{
    display: flex;
    /* width: 500px;
    height: 600px; */
    align-items: center;
    position: relative;
   float:right;
    justify-content: space-between;
    border-radius: 2px  solid white;
    margin-right: 600px;
 
}


/* .duhduhduh{
    position:relative;
    top:100px;
} */


    


h2{
text-align: center;
    font-family: 'Fira Sans', sans-serif;
color:  rgb(240, 78, 105);;
font-weight: 900;

}





